extends ../layouts/default

block content
  .content
    p Hello #{user.name}
    p This is a simple message page to indicate that you're logged in.
    ul
      li
        strong ID:
        span(data-testid="user-id") #{user.id}
      li
        strong Name:
        span(data-testid="user-name") #{user.name}
      li
        strong Email:
        span(data-testid="user-email") #{user.email}
    a.button.is-primary(href="/logout" data-testid="logout-button") Logout
